@{
    ViewData["Title"] = "Request Sent";
}

<h2>Thanks for your interest in being part of Selfless Help</h2>
<p>
    We are currently checking your request.<br />In the next few days, you should recive a mail in which we can give you further instructions.
</p>
<a class="btn btn-info" href="@AppConfig.DomainMain">Back to the page</a>