@{
    ViewData["Title"] = "Welcome";
    var mostUrgentRequests = ViewData["MostUrgentRequests"] as IEnumerable<DonationRequest>;
    var trendingRequests = ViewData["TrendingRequests"] as IEnumerable<DonationRequest>;
}


@section AboveNavigation{
    <div style="background-image:url('/images/panorama.jpg');background-position:center">
        <br />
        <div class="container">
            <div class="jumbotron" style="opacity:0.75">
                <h2>@await Localize.Get("Home_Header_Title")</h2>
                <p>
                    @await Localize.Get("Home_Header_Text")
                    @*Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.*@
                </p>
            </div>
        </div>
    </div>
}

<br />

<div class="row">
    <h3 class="text-center">@await Localize.Get("Home_MostUrgent_Title")</h3>
    <p class="text-md text-center">@await Localize.Get("Home_MostUrgent_Description")</p>
</div>
<br />
<div class="row">
    @foreach (var request in mostUrgentRequests)
    {
        @await Component.InvokeAsync("DonationRequest", new { donationRequestId = request.Id, request = request })
    }
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <a href="~/DonationRequest/ListUrgent" class="btn btn-danger center-block" style="width:180px">@await Localize.Get("Home_MostUrgent_Btn_ShowMore")</a>
    </div>
</div>
<br />
<div class="seperator"></div>
<br />
<div class="row">
    <h3 class="text-center">@await Localize.Get("Home_Trending_Title")</h3>
    <p class="text-md text-center">@await Localize.Get("Home_MostUrgent_Description")</p>
</div>

<div class="row">
    @foreach (var request in trendingRequests)
    {
        @await Component.InvokeAsync("DonationRequest", new { donationRequestId = request.Id, request = request })
    }
</div>
<br />
<div class="row">
    <a href="~/DonationRequest/ListAll" class="btn btn-danger center-block" style="width:150px">@await Localize.Get("Home_Btn_AllProjects")</a>
</div>
<br />