@{
    ViewData["Title"] = "Terms and conditions";
}
<br/>
<div class="row">
    <div class="col-sm-12">
        @await Localize.GetHtml("Legal_Title_Html")
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @await Localize.GetHtml("Legal_Text_Html")
    </div>
</div>