@{
    ViewData["Title"] = "Vision";
}
<br />
<div class="row">
    <div class="col-sm-12">
        @await Localize.GetHtml("Vision_Title_Html")
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @await Localize.GetHtml("Vision_Text_Html")
    </div>
</div>