@{
    var formAction = ViewData["FormAction"];
    var targetId = ViewData["TargetId"];
    var targetIdField = ViewData["TargetIdField"];
}

<div style="max-width:200px">
    <form asp-controller="Donation" asp-action="@formAction">
        <input type="hidden" name="@targetIdField" value="@targetId" />
        <div class="input-group input-group-lg">
            <input style="max-width:300px" name="amount" placeholder="$10" class="form-control" type="number" />
            <span class="input-group-btn">
                <input type="submit" class="btn btn-info" value="Donate" />
            </span>
        </div>
    </form>
</div>