@model Mission
@{
    ViewData["Title"] = "Edit Mission";
}

<h1>Edit Mission</h1>
<form asp-action="Edit" asp-controller="Mission" asp-route-missionId="@Model.Id">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="OrganisationId" />
    <input type="hidden" asp-for="CreatedAt" />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Name"></label>
        </div>
        <div class="col-sm-9">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Comment"></label>
        </div>
        <div class="col-sm-9">
            <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="IsActive"></label>
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.IsActive)
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Latitude"></label>
        </div>
        <div class="col-sm-9">
            <input asp-for="Latitude" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Latitude"></label>
        </div>
        <div class="col-sm-9">
            <input asp-for="Longitude" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <input class="btn btn-info" type="submit" value="Save" />
        </div>
    </div>
</form>
