<h2>Create new Donation Request</h2>
<br />
<div class="row">
    <div class="col-sm-3">
        Show in donation log
    </div>
    <div class="col-sm-9">
        <input type="checkbox" name="showindonationlog" checked value="Show donation in donation log" />
    </div>
</div>