@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    window.imagePath = '@ImageConfig.Url';
</script>

<div aurelia-app="requestlistmain">

</div>